body {
  background-color: #f4f5f8;
}

.dropdown-menu {
  --bs-dropdown-min-width: 15rem;
}

.img-section {
  position: relative;
}

.available-status {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(25%, 25%);
}
